* {
	box-sizing: border-box;
  }
body{
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: sans-serif;
}

.upper_header{
	display: flex;
	padding: 16px 40px 16px 40px;
	background-color: red;
}
#logo{
	width: 30px;
	height: 30px;
	background-image: url('./images/logo.svg');
	background-size: cover;
	background-repeat: no-repeat;
}
.header_content{
	padding: 22px;
	font-weight: bold;
	border-top-left-radius: 10px;
	border-bottom: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	
}
.upper_header a{
	text-decoration: none;
	color: white;

}
#more{
	padding: 30px;
	background-color:darkred;	
}
.search{
	width: 300px;
	height: 35px;
	border-top-left-radius: 10px;
	border-bottom: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.fa-search{
	background-color: crimson;
	color: rgb(143, 143, 206);
	font-size: 22px;
}
.sub_nav{
	display: flex;
	font-size: 20px;
	text-align: center;
	padding: 0 0 0 35px;
	margin: 0 9px 0 0;

}
.sub_nav_items{
	font-weight: 700;
	font-size: 20px;
	font-family: 'Courier New', Courier, monospace;
	text-decoration: none;
	border-top-left-radius: 10px;
	border-bottom: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	
	background-color: #FFE3E3;
	color: darkred;
	padding: 2px 12px 12px 12px;
	margin: 5px;
}
.nav{
	box-shadow: rgba(0, 0, 0, 0.12)0px 4px 20px;
}
.content:after {
	content: "";
	display: table;
	clear: both;
  }
  .column {
	float: left;
	padding: 10px;

  }
  
  .right {
	width: 40%;
  }
  
  .left {
	width: 60%;
	text-align: center;
  }
  .author_post{
	  display: inline-flex;
	  padding: 30px 0 0 100px;
	  text-align: center;
  }
  .image_author_container{
	  padding: 70px 0 0 0;
	  margin:20px;
  }
  .author_image{
	  width: 130px;
	  
	  height: 130px;
	  border: 5px solid red;
	  background-size: cover;
	  text-align: center;
	transform: rotate3d(0, 0, 1, -35deg);
	border-top-left-radius: 10px;
	border-bottom: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	
  }
  .author_content{
	  
	  font-size: 30px;
  }
  .title{
	  font-size: 18px;
  }
  .date{
	  font-weight: normal;
	  font-size: 12px;
  }
  .author_text{
	  padding-left: 150px;
  }
  .promo_image{
	  width: 180px;
	  height: 180px;
	  border-radius: 50%;

  }
  .news_button{
	  width: 200px;
	  font-size: 15px;
	  font-weight: bold;
	  height: 40px;
	  background-color:white;
	  color:red;
	  border-top-left-radius: 10px;
	border-bottom: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
  }
  .promo_image_container{
	  border: 1px dashed red;
	   
  }
  .email{
	  display: flex;
	  align-items: center;
	  justify-content: center;
  }
  .enter_email{
	width: 200px;
	height: 60px;
	border-top-left-radius: 10px;
	border-bottom: 10px;
	border-bottom-left-radius: 10px;

  }
  .email_text{
	  background-color: blue;
	  color: white;
	  height: 60px;
	  align-items: center;
	  text-align: center;
	  border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
  }